<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <form method="post" action="/join" enctype = "multipart/form-data">
        <input placeholder="Handle (Unique)" name="handle">
        <input placeholder="Password: 6+ characters recommended with different characters, patterns, numbers, etc. WE ARE NOT responsible for account security" name="password">
        <input placeholder="Display Name (Not Unique)" name="displayname">
        <input type="file" name="ProfileImage">
        <input type="submit">
        </form>
    </body>
</html>